<div class="box-wrapper">
	<div class="container">
		<!-- Box First Row -->
		<div class="inner-page">
			<div class="container">
				<div class="col-md-12">
					<div class="page-mainbar">
						<!-- Heading -->
						<h2>Order Form</h2>
						<div class="row">
							<div class="col-md-3 col-sm-3">
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="br-green form-group">
									<table class="table">
										<tbody>
											<%= form_for @order do |f| %>
												<tr>
													<td>Service Required</td>
													<td><%= f.select :service_id, Service.all.map{|service| [ service.name, service.id]}, {}, class: "form-control"%></td>
												</tr>
												<tr>
													<td>Pickup Date
														<div class="form-group">
															<div class='input-group date' id='datetimepicker1'>
																<input type='text' name= "order[collecting_date]"class="form-control" onkeydown="return false"/>
																<span class="input-group-addon">
																	<span class="fa fa-calendar"></span>
																</span>
															</div>
														</div>
													</td>
													<td>Pickup Time <%= f.select :collecting_time, ["8-10", "10-12", "12-2", "2-4", "4-6", "6-8"], {}, class: "form-control"%></td>
												</tr>
												<tr>
												<tr>
													<td>Locality </td>
													<td><%= f.select :area, ["sec 15", "sec 16"], {}, class: "form-control"%></td>
												</tr>
												<tr>
													<td>Address </td>
													<td><%= f.text_area :address, maxlength: 150, class: "form-control", required: "required"%></td>
												</tr>
												<tr>
													<td colspan="2"><div class="coupon_div"><%= text_field_tag :apply_coupon, nil, class: "form-control", placeholder: "Apply Coupon?" %>
													<%= button_tag "Apply", class:' btn  btn-primary', id: 'submit_coupon'%><div></td>
												</tr>
												<tr>
													<td colspan="2"><%= f.submit "Submit Order", class:' btn pull-right btn-primary' %></td>
												</tr>
											<%end%>
										</tbody>
									</table>
								</div>
							</div>
							<div class="col-md-3 col-sm-3">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
