<div class="box-wrapper">
	<div class="container">
		<!-- Box First Row -->
		<div class="inner-page">
			<div class="container">
				<div class="col-md-12">
					<div class="page-mainbar">
						<!-- Heading -->
						<h2>Order Tracker</h2>
						<div class="row">
							<div class="col-md-12 col-sm-12">
								<div class="br-pink form-group">
									<% if @order %>
										<table class="table table-bordered">
											<thead>
												<tr>
													<th width="5%">Order Id</th>
													<th width="15%">Service Required</th>
													<th width="20%">Address</th>
													<th width="15%">Date/Time Of Pickup Required</th>
													<th width="15%">Date/Time Of Delivery Required</th>
													<th width="10%">Status</th>
													<th width="10%">Total Weight</th>
													<th width="10%">Bill Amount</th>
												</tr>
											</thead>
											<tbody>
												<tr>
												    <td><%= @order.id %></td>
													<td><%= @order.service.name %></td>
													<td><%= @order.address %></td>
													<td><%= "#{@order.collecting_date}" + " / #{@order.collecting_time}" %></td>
													<td><%= "#{@order.delivery_date}" + " / #{@order.delivery_time}" %></td>
													<td><%= @order.status.name %></td>
													<td><%= @order.weight %></td>
													<td><%= @order.bill_amount %></td>
												</tr>
											</tbody>
										</table>
										</br>
										<%#= link_to 'New Order', new_order_path, class: "btn btn-primary btn-lg" %>
									<%end%>
								</div>
							</div>
 						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>